<template>
  <div>
      <head-guide></head-guide>
      <div class="all">
          <div class="left" style="background-color: white;border-radius: 10px;" >
              <!--闯关题目白框部分-->
              <div class="cz-screen" style="padding: 1.5%" >
                  <div id="number" class="number">{{currentBarrierOrder}}</div>
                  <div class="blank" >
                     <p size="90px"> 题目要求：</p>
                       <!--<quill-editor v-model="question_text" :options="editorOption"  @blur="onEditorBlur($event)" @focus="onEditorBlur($event)"></quill-editor>-->
                        <quill-editor v-model="question_text" :options="editorOption"></quill-editor>
                        <div v-if="someShow">
                        <div  v-for="(item,index) in childQuestionVOs" :key="index">
                            <quill-editor  v-model="item[i]" :options="editorOption"  @blur="onEditorBlur($event)" @focus="onEditorBlur($event)"></quill-editor>
                        </div>
                    </div>
                      <div v-else>
                          <p>A:</p><quill-editor v-model="optionA" :options="editorOption"  @blur="onEditorBlur($event)" @focus="onEditorBlur($event)"></quill-editor>
                          <p>B:</p><quill-editor v-model="optionB" :options="editorOption"  @blur="onEditorBlur($event)" @focus="onEditorBlur($event)"></quill-editor>
                          <p>C:</p><quill-editor v-model="optionC" :options="editorOption"  @blur="onEditorBlur($event)" @focus="onEditorBlur($event)"></quill-editor>
                          <p>D:</p><quill-editor v-model="optionD" :options="editorOption"  @blur="onEditorBlur($event)" @focus="onEditorBlur($event)"></quill-editor>
                      </div>
                  </div>
              </div>

              <!--题目跳转部分-->
              <div class="a " v-if="someShow">
                 <a :href=url class="download btn btn--stripe btn--large">下载素材</a>
                 <label>
                     <div class="Upload btn btn--stripe btn--large" >
                         <input type="file"  name="upload" multiple="multiple" style="display: none;" @change.prevent="submitAnswer">上传答题文件（若有多个文件，请同时多选上传）
                     </div>
                 </label>
              </div>
              <div class="a " v-else>
                  <button class="choice btn btn--stripe fl" style="margin-bottom: 4%;margin-left: 2%;margin-right: 20.5%;" value="A" @click="submitOption($event)">A</button>
                  <button class="choice btn btn--stripe  fl" style="margin-bottom: 4%;margin-right: 20.5%;" value="B" @click="submitOption($event)">B</button>
                  <button class="choice btn btn--stripe fl" style="margin-bottom: 4%;margin-right:20.5%;" value="C" @click="submitOption($event)">C</button>
                  <button class="choice btn btn--stripe fr" style="margin-bottom: 4%; margin-right: 2%;" value="D" @click="submitOption($event)">D</button>
              </div>
          </div>
          <!--右侧部分内容-->
          <div class="right" >
              <a href="#" class="button turquoise"><span>经验值</span>100</a>
              <a href="#" class="button turquoise"><span>生命值</span>{{lifeCount}}</a>
              <a href="#" class="button turquoise"><span>时间</span>{{timeRemaining}}min</a>


              <button class="btn btn--stripe" @click="dialogQuestionError = true">题目报错</button>
              <button class="btn btn--stripe" @click="dialogResult = true">查看结果</button>
              <button class="btn btn--stripe" @click="levelOut">结束闯关</button>
              <button class="btn btn--stripe" @click="dialogTip = true">提示</button>
              <button class="btn btn--stripe" style="height:110px;" @click.prevent="getNextTitle">下一关</button>
          </div>



      </div>
<!--  题目报错    -->
      <el-dialog :visible.sync="dialogQuestionError" title="题目报错" width="40%">
          <el-input type="textarea" placeholder="请输入题目的错误信息，我们会在1~2个工作日内核实后修改！" v-model="defectContext" maxlength="100" show-word-limit></el-input>
          <div slot="footer" class="dialog-footer">
              <el-button type="primary" @click="postError">提交</el-button>
          </div>
    </el-dialog>
    <!--   答题结果   -->
      <el-dialog :visible.sync="dialogResult" title="答题结果" width="60%">
          <el-table :data="result" style="width: 100%; text-align: center; ">
              <el-table-column prop="number" label="题号" width="80"></el-table-column>
              <el-table-column prop="score" label="分数" width="80"></el-table-column>
              <el-table-column prop="msg" label="解析" width="1000" style="overflow: scroll"></el-table-column>
          </el-table>
      </el-dialog>
<!--   提示   -->
      <el-dialog :visible.sync="dialogTip" title="提示" width="40%">
          <p>{{tip}}</p>
      </el-dialog>


  </div>

</template>


<script>
  import {praticeRequest} from '../../../network/request'
  import {mumRequest} from "../../../network/request";
    import headGuide from "../../headGuide";
  export default {
      components: {headGuide},
      //刷新页面后
      created() {
          this.getQuestionText()
          this.$notify({
              title: "闯关须知",
              type:'warning',
              showClose:true,
              duration:10000,
              message:"请在规定的时间内完成题目，选择题仅有一次答题机会，非选择题有三次答题机会，生命值为零时，则闯关失败",
              position: 'top-right',
          })

      },

      data() {
          return {
              question_text: '', //题干
              question_id: '14', //题号
              file: [],//上传文件
              url: '',//下载地址
              optionA: '',//选项A内容
              optionB: '',//选项B内容
              optionC: '',//选项C内容
              optionD: '',//选项D内容
              option: '',//提交的选择题选项
              childQuestionVOs: [],//综合题小题
              result: [{number:'',msg:'',score:''}],//操作题答题结果
              datalist: '',//获取的所有题目的信息
              question_type:'',//题目类型（0：选择题）
              currentBarrierOrder:'',//闯关关数
              someShow: true,//是否展示为选择题
               editorOption:{
                  placeholder:'',
                   modules:{
                        toolbar:[ [{ 'size': ['huge'] }]],  
              },
              theme:'bubble',},
              dialogQuestionError: false,//题目报错弹窗
              defectContext:'',//用户输入的报错信息
              dialogResult: false,//展示答题结果的弹窗
              dialogTip: false,// 展示提示弹窗
              tip:'',//提示内容
              timeRemaining : '',//剩余时间
              lifeCount: '3',//生命值
              isPass: false,//是否可以进入下一题

          }
      },


      methods: {
          //获取题目
          getQuestionText: function () {
              //检查登录状态，保持登录状态
              this.checkLogin()
              mumRequest({
                  method: 'get',
                  url: "/portal/user/adventure/"+this.$route.query.name+"/currentBarrier "
              }).then(res => {
                  if (res.data.status == 310) {
                      this.datalist = res.data.data.questionVO;
                      this.currentBarrierOrder = res.data.data.currentBarrierOrder;
                      this.question_id = this.datalist.questionId;
                      this.question_text = this.datalist.questionText;
                      this.url = this.datalist.referenceResourceUrl;
                      this.childQuestionVOs = this.datalist.childQuestionVOs;
                      this.question_type = this.datalist.questionType;
                      this.tip = this.datalist.questionHint;
                      if( this.question_type === 0){
                          this.someShow = false;
                          this.timeRemaining = 6;
                          this.timeCount(this.timeRemaining)
                      }else {
                          this.timeRemaining = 31;
                          this.timeCount(this.timeRemaining)
                      }
                  }else{
                    this.$message({
                      type: "error",
                      showClose: true,
                      message: res.data.statusInfo,
                      offset:200
                  })
                  }
              }).catch( err => {
                   this.$message({
                    showClose: true,
                    message: err,
                    type: 'warning',
                    duration: 2000,
                    center: true,
                    offset: 120
                })
              })

          },
          //上传题目
          submitAnswer: function (event) {
              //判断登录状态
              this.checkLogin();
              //判断生命值是否为0
              if(this.lifeCount = 0){
                  this.$notify({
                      title: "闯关失败",
                      type:'error',
                      showClose:true,
                      duration:10000,
                      message:"您的生命值为0，请退出重新闯关！",
                      position: 'top-left',
                  })
              }else{
              this.file = event.target.files
              //将文件存储到formData
              let formData = new FormData()
              // 将文件遍历append到formData
              for (let i = 0; i < this.file.length; i++) {
                  formData.append('question-id', this.question_id)
                  formData.append('files', this.file[i])
              }
            //提交文件
             praticeRequest({
                method: 'post',
                url: "/portal/user/office/adventure/"+this.$route.query.name,
                data: formData
             }).then(res => {
                if (res.data.status == 310){
                this.result[0].number = res.data.data[0].number;
                this.result[0].score = res.data.data[0].score;
                this.result[0].msg = res.data.data[0].msg;
                this.isPass = res.data.data[1].msg;
                if( this.isPass != "闯关通过"){
                    this.lifeCount = this.lifeCount - 1;
                }
                this.$message({
                    showClose: true,
                    message: '提交成功，点击“答题结果”可查看做题结果',
                    type: 'success',
                    center: true,
                    offset: 120
                    })
                this.dialogResult = true;
                }else{
                    this.$message({
                      type: "error",
                      showClose: true,
                      message: res.data.statusInfo,
                      offset:200
                  })
                }
             }).catch(err =>{
                this.$message({
                    showClose: true,
                    message: err,
                    type: 'warning',
                    duration: 2000,
                    center: true,
                    offset: 120
                })
              })
              }
          },
          //禁用富文本编辑
          onEditorBlur:function (event) {
              event.enable(false)
          },
          //题目报错
          postError:function () {
              //检查登录状态
              this.checkLogin()
              //上传错误信息
              mumRequest({
                method: 'post',
                url:'/portal/user/defect/questionDefect',
                data:{
                    questionId: this.question_id,
                    defectContext: this.defectContext
                }
              }).then(res =>{
                  if(res.data.status == 310){
                      this.$message({
                          type: "success",
                          showClose: true,
                          message: res.data.statusInfo,
                          offset:200
                      })
                  }else {
                      this.$message({
                      type: "error",
                      showClose: true,
                      message: res.data.statusInfo,
                      offset:200
                  })
                  }
              }).catch(err =>{
                  this.$message({
                      type: "error",
                      showClose: true,
                      message: err,
                      offset:200
                  })
              })
          },
          //提交选项
          submitOption:function (event) {
              this.option = event.target.value
              mumRequest({
                  method:'get',
                  url:'/portal/user/user_info',
              }).then(res =>{
                  if( res.data.status == 644){
                      mumRequest({
                          method: 'put',
                          url: '/portal/access_token',
                          data:{
                              refresh_token: this.$store.state.refreshToken
                          }
                      }).then(res =>{
                          if(res.data.status == 310){
                              this.$store.commit('set_token',res.data.data.token)
                              mumRequest({
                                  method: 'post',
                                  url:'',
                                  data:{
                                      questionId: this.question_id,
                                      option: this.option
                                  }
                              }).then(res =>{
                                  if(res.data.status == 310){
                                      this.isPass = res.data.isPass
                                      if(this.isPass != true){
                                          this.lifeCount = 0
                                          this.$message({
                                              type: 'warning',
                                              showClose: true,
                                              center: true,
                                              message: "您的生命值为0，本次闯关失败,请退出重新开始！",
                                              offset:200
                                          })
                                      }
                                  }else {
                                      this.$message({
                                          type: "error",
                                          showClose:true,
                                          message: res.data.statusInfo,
                                          offset:200
                                      })
                                  }
                              })
                          }else {
                              this.$message({
                                  showClose: true,
                                  type: "error",
                                  message: res.data.status,
                                  offset: 200
                              })
                              this.$router.push('/home/login')
                          }
                      }).catch(err =>{
                          this.$message({
                              showClose: true,
                              message: err,
                              type: 'error',
                              center: true,
                              offset: 120
                          })
                      })
                  }
                  else if(res.data.status == 310){
                      mumRequest({
                          method: 'post',
                          url:'',
                          data:{
                              questionId: this.question_id,
                              option: this.option
                          }
                      }).then(res =>{
                          if(res.data.status == 310){
                              this.isPass = res.data.isPass
                              if(this.isPass != true){
                                  this.lifeCount = 0
                                  this.$message({
                                      type: 'warning',
                                      showClose: true,
                                      center: true,
                                      message: "您的生命值为0，本次闯关失败,请退出重新开始！",
                                      offset:200
                                  })
                              }
                          }else {
                              this.$message({
                                  type: "error",
                                  showClose:true,
                                  message: res.data.statusInfo,
                                  offset:200
                              })
                          }
                      })
                  }
              })
          },
          //退出闯关
          levelOut:function () {
              this.$router.push('/study')
          },
          //倒计时
          timeCount:function (n) {
              let _this=this
              if(n == 0){
                  this.lifeCount = 0
                  this.$message({
                      type: 'warning',
                      showClose: true,
                      center: true,
                      message: "您的生命值为0，本次闯关失败,请退出重新开始！",
                      offset:200
                  })
              }else{
                  let count = n-1
                  this.timeRemaining = count
                  setTimeout(function () {
                      _this.timeCount(count)
                  },60000)
              }
          },
          //下一题
          getNextTitle: function () {
              if( this.isPass != "闯关通过"){
                  this.$message({
                      type: 'warning',
                      showClose: true,
                      center: true,
                      message:"您的答案错误率较高哦，暂时无法进入下一关，请重新做一下试试哦！",
                      duration: 3000,
                      offset:200
                  })
              }else {
                  this.getQuestionText()
              }
          },
          //检测登录状态
          checkLogin:function(){
              mumRequest({
                  method: 'get',
                  url: '/portal/user/user_info'
              }).then(res =>{
                  if(res.data.status == 644){
                      this.refreshToken()
                  }
              }).catch(err =>{
                  this.$message({
                      showClose: true,
                      type: "error",
                      message: err,
                      offset: 200
                  })
              })
          },
          //刷新token
          refreshToken:function(){
              mumRequest({
                  method: 'put',
                  url: '/portal/access_token',
                  data:{
                      refresh_token: this.$store.state.refreshToken
                  }
              }).then(res =>{
                  if(res.data.status == 310){
                      this.$store.commit('set_token',res.data.data.token)
                  }else{
                      this.$message({
                          showClose: true,
                          type: "error",
                          message: res.data.status,
                          offset: 200
                      })
                      this.$router.push('/home/login')
                  }
              }).catch(err =>{
                  this.$message({
                      showClose: true,
                      type: "error",
                      message: err,
                      offset: 200
                  })
              })
          }

      },




  }




</script>


<style scoped>
    .all{


        width:100%;padding-left:3%;
        margin-top: 90px;
        margin-right: 6%;
    }



    .left{
        width: 70%;
        float: left;


    }
    .right{
        width: 10%;
        float: left;
        padding-left:3%;

    }







    .number{
        padding-top: 0.3%;
        width:60px;
        height: 30px;
        line-height: 30px;
        background-color: #104f4b;
        margin:1% 1.5%;
        border-radius: 10px;
        color: white;
        padding-bottom: 0.5%;
        text-align: center;
    }


    /*特效部分*/
    @-webkit-keyframes stripe-slide {
        0% {
            background-position: 0% 0;
        }
        100% {
            background-position: 100% 0;
        }
    }
    @keyframes stripe-slide {
        0% {
            background-position: 0% 0;
        }
        100% {
            background-position: 100% 0;
        }
    }

    .btn {
        overflow: visible;
        margin: 0;
        padding: 0;
        border: 0;
        background: transparent;
        font: inherit;
        line-height: normal;
        cursor: pointer;
        -moz-user-select: text;
        display: block;
        text-decoration: none;
        text-transform: uppercase;
        padding: 16px 36px 22px;
        background-color: #fff;
        color: green;
        border: 2px solid #666;
        border-radius: 6px;
        margin-bottom: 10px;
        transition: all 0.5s ease;
    }
    .btn::-moz-focus-inner {
        padding: 0;
        border: 0;
    }
    .btn--stripe {
        overflow: hidden;
        position: relative;
        width :140px;
    }
    .btn--stripe:after {
        content: "";
        display: block;
        height: 7px;
        width: 100%;
        background-image: repeating-linear-gradient(45deg, #666, #666 1px, transparent 2px, transparent 5px);
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        border-top: 1px solid #666;
        position: absolute;
        left: 0;
        bottom: 0;
        background-size: 7px 7px;
    }
    .btn--stripe:hover {
        background-color: #666;
        color: #fff;
        border-color: #000;
    }
    .btn--stripe:hover:after {
        background-image: repeating-linear-gradient(45deg, #fff, #fff 1px, transparent 2px, transparent 5px);
        border-top: 1px solid #000;
        -webkit-animation: stripe-slide 12s infinite linear forwards;
        animation: stripe-slide 12s infinite linear forwards;
    }


    .button {

        width:41%;
        display: inline-block;
        height: 50px;
        line-height: 50px;
        padding-right: 30px;
        padding-left: 55%;
        position: relative;
        background-color:rgb(41,127,184);
        color:rgb(255,255,255);
        text-decoration: none;
        text-transform: uppercase;
        letter-spacing: 1px;
        margin-bottom: 15px;
        margin-right: 8%;


        border-radius: 3px;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        text-shadow:0px 1px 0px rgba(0,0,0,0.5);
        -ms-filter:"progid:DXImageTransform.Microsoft.dropshadow(OffX=0,OffY=1,Color=#ff123852,Positive=true)";zoom:1;
        filter:progid:DXImageTransform.Microsoft.dropshadow(OffX=0,OffY=1,Color=#ff123852,Positive=true);

        -moz-box-shadow:0px 2px 2px rgba(0,0,0,0.2);
        -webkit-box-shadow:0px 2px 2px rgba(0,0,0,0.2);
        box-shadow:0px 2px 2px rgba(0,0,0,0.2);
        -ms-filter:"progid:DXImageTransform.Microsoft.dropshadow(OffX=0,OffY=2,Color=#33000000,Positive=true)";
        filter:progid:DXImageTransform.Microsoft.dropshadow(OffX=0,OffY=2,Color=#33000000,Positive=true);
    }

    .button span {
        padding-left: 10%;
        position: absolute;
        left: 0;
        width: 30%;
        background-color:rgba(0,0,0,0.5);


        border-top-left-radius: 3px;
        border-bottom-left-radius: 3px;
        border-right: 1px solid  rgba(0,0,0,0.15);
    }

    .button:hover span, .button.active span {
        background-color:rgb(0,102,26);
        border-right: 1px solid  rgba(0,0,0,0.3);
    }

    .button:active {
        margin-top: 2px;
        margin-bottom: 13px;

        -moz-box-shadow:0px 1px 0px rgba(177, 139, 139, 0.5);
        -webkit-box-shadow:0px 1px 0px rgba(255,255,255,0.5);
        box-shadow:0px 1px 0px rgba(255,255,255,0.5);
        -ms-filter:"progid:DXImageTransform.Microsoft.dropshadow(OffX=0,OffY=1,Color=#ccffffff,Positive=true)";
        filter:progid:DXImageTransform.Microsoft.dropshadow(OffX=0,OffY=1,Color=#ccffffff,Positive=true);
    }



    .button.turquoise {
        background: #1abc9c;
    }

    /*特效结束*/




    .download,.Upload{text-align: center;width: 90%;margin-left: 2%;

    }

    .blank{height:360px;margin-bottom: 0.3%;margin-left: 1%;margin-right: 1%;background-color:white;border-radius: 1px;overflow: auto;
    }
    .fl{
        float: left;
    }

</style>
