<template>

    <div>
        <head-guide></head-guide>
        <div class="all ">

        <div class="left fl">
            <div class="exam" style="background-color: white; padding-top:10px;">试题内容</div>
            <p class="choose" style="padding-left: 10px;">一.选择题</p>
            <!--第一题-->
            <form >
                <fieldset id="fieldset1" class="bbb">
                    <p class="c1">1:若希望 Word 中所有超链接的文本颜色在被访问后变为蓝色，最优的操作方法是：</p>
                    <p ><input type="radio"  name="1" value="A" class="c2" @click="getOption($event)" />(A):1.通过新建主题颜色，修改已访问的超链接的字体颜色<br /><p>
                    <p ><input type="radio"  name="1" value="B" onclick="choice('div1')" />(B):2.通过修改“超链接”样式的格式，改变字体颜色<br /></p>
                    <p ><input type="radio"  name="1" value="C" onclick="choice('div1')" />(C):3.通过查找和替换功能，将已访问的超链接的字体颜色进行替换<br /></p>
                    <p ><input type="radio"  name="1" value="D" onclick="choice('div1')" />(D):4.通过修改主题字体，改变已访问的超链接的字体颜色<br /></p>
                </fieldset>
            </form>
            <!--第二题-->
            <form>
                <fieldset id="fieldset2" class="bbb">
                    <p class="c1">2:</p>
                    <input type="radio" class="first" name="timu2" value="A" onclick="choice('div2')" />(A):1<br />
                    <input type="radio" class="second" name="timu2" value="B" onclick="choice('div2')" />(B):2<br />
                    <input type="radio" class="third" name="timu2" value="C" onclick="choice('div2')" />(C):3<br />
                    <input type="radio" class="fourth" name="timu2" value="D" onclick="choice('div2')" />(D):4<br />
                </fieldset>
            </form>
            <!--第三题-->
            <form>
                <fieldset id="fieldset3" class="bbb">
                    <p class="c1">3:</p>
                    <input type="radio" class="first" name="timu3" value="A" onclick="choice('div3')" />(A):1<br />
                    <input type="radio" class="second" name="timu3" value="B" onclick="choice('div3')" />(B):2<br />
                    <input type="radio" class="third" name="timu3" value="C" onclick="choice('div3')" />(C):3<br />
                    <input type="radio" class="fourth"  name="timu3" value="D" onclick="choice('div3')" />(D):4<br />
                </fieldset>
            </form>
            <!--第四题-->
            <form>
                <fieldset id="fieldset4" class="bbb">
                    <p class="c1">4:</p>
                    <input type="radio" class="first" name="timu3" value="A" onclick="choice('div4')" />(A):1<br />
                    <input type="radio" class="second" name="timu3" value="B" onclick="choice('div4')" />(B):2<br />
                    <input type="radio" class="third" name="timu3" value="C" onclick="choice('div4')" />(C):3<br />
                    <input type="radio" class="fourth"  name="timu3" value="D" onclick="choice('div4')" />(D):4<br />
                </fieldset>
            </form>
            <!--第五题-->
            <form>
                <fieldset id="fieldset5" class="bbb">
                    <p class="c1">5:</p>
                    <input type="radio" class="first" name="timu3" value="A" onclick="choice('div5')" />(A):1<br />
                    <input type="radio" class="second" name="timu3" value="B" onclick="choice('div5')" />(B):2<br />
                    <input type="radio" class="third" name="timu3" value="C" onclick="choice('div5')" />(C):3<br />
                    <input type="radio" class="fourth"  name="timu3" value="D" onclick="choice('div5')" />(D):4<br />
                </fieldset>
            </form>
            <!--第六题-->
            <form>
                <fieldset id="fieldset6" class="bbb">
                    <p class="c1">6:</p>
                    <input type="radio" class="first" name="timu3" value="A" onclick="choice('div6')" />(A):1<br />
                    <input type="radio" class="second" name="timu3" value="B" onclick="choice('div6')" />(B):2<br />
                    <input type="radio" class="third" name="timu3" value="C" onclick="choice('div6')" />(C):3<br />
                    <input type="radio" class="fourth"  name="timu3" value="D" onclick="choice('div6')" />(D):4<br />
                </fieldset>
            </form>
            <!--第七题-->
            <form>
                <fieldset id="fieldset7" class="bbb">
                    <p class="c1">7:</p>
                    <input type="radio" class="first" name="timu3" value="A" onclick="choice('div7')" />(A):1<br />
                    <input type="radio" class="second" name="timu3" value="B" onclick="choice('div7')" />(B):2<br />
                    <input type="radio" class="third" name="timu3" value="C" onclick="choice('div7')" />(C):3<br />
                    <input type="radio" class="fourth"  name="timu3" value="D" onclick="choice('div7')" />(D):4<br />
                </fieldset>
            </form>
            <!--第八题-->
            <form>
                <fieldset id="fieldset8" class="bbb">
                    <p class="c1">8:</p>
                    <input type="radio" class="first" name="timu3" value="A" onclick="choice('div8')" />(A):1<br />
                    <input type="radio" class="second" name="timu3" value="B" onclick="choice('div8')" />(B):2<br />
                    <input type="radio" class="third" name="timu3" value="C" onclick="choice('div8')" />(C):3<br />
                    <input type="radio" class="fourth"  name="timu3" value="D" onclick="choice('div8')" />(D):4<br />
                </fieldset>
            </form>
            <!--第九题-->
            <form>
                <fieldset id="fieldset9" class="bbb">
                    <p class="c1">9:</p>
                    <input type="radio" class="first" name="timu3" value="A" onclick="choice('div9')" />(A):1<br />
                    <input type="radio" class="second" name="timu3" value="B" onclick="choice('div9')" />(B):2<br />
                    <input type="radio" class="third" name="timu3" value="C" onclick="choice('div9')" />(C):3<br />
                    <input type="radio" class="fourth"  name="timu3" value="D" onclick="choice('div9')" />(D):4<br />
                </fieldset>
            </form>
            <!--第十题-->
            <form>
                <fieldset id="fieldset10" class="bbb">
                    <p class="c1">10:</p>
                    <input type="radio" class="first" name="timu3" value="A" onclick="choice('div10')" />(A):1<br />
                    <input type="radio" class="second" name="timu3" value="B" onclick="choice('div10')" />(B):2<br />
                    <input type="radio" class="third" name="timu3" value="C" onclick="choice('div10')" />(C):3<br />
                    <input type="radio" class="fourth"  name="timu3" value="D" onclick="choice('div10')" />(D):4<br />
                </fieldset>
            </form>
            <!--第十一题-->
            <form>
                <fieldset id="fieldset11" class="bbb">
                    <p class="c1">11:</p>
                    <input type="radio" class="first" name="timu3" value="A" onclick="choice('div11')" />(A):1<br />
                    <input type="radio" class="second" name="timu3" value="B" onclick="choice('div11')" />(B):2<br />
                    <input type="radio" class="third" name="timu3" value="C" onclick="choice('div11')" />(C):3<br />
                    <input type="radio" class="fourth"  name="timu3" value="D" onclick="choice('div11')" />(D):4<br />
                </fieldset>
            </form>
            <!--第十二题-->
            <form>
                <fieldset id="fieldset12" class="bbb">
                    <p class="c1">12:</p>
                    <input type="radio" class="first" name="timu3" value="A" onclick="choice('div12')" />(A):1<br />
                    <input type="radio" class="second" name="timu3" value="B" onclick="choice('div12')" />(B):2<br />
                    <input type="radio" class="third" name="timu3" value="C" onclick="choice('div12')" />(C):3<br />
                    <input type="radio" class="fourth"  name="timu3" value="D" onclick="choice('div12')" />(D):4<br />
                </fieldset>
            </form>
            <!--第十三题-->
            <form>
                <fieldset id="fieldset13" class="bbb">
                    <p class="c1">13:</p>
                    <input type="radio" class="first" name="timu3" value="A" onclick="choice('div13')" />(A):1<br />
                    <input type="radio" class="second" name="timu3" value="B" onclick="choice('div13')" />(B):2<br />
                    <input type="radio" class="third" name="timu3" value="C" onclick="choice('div13')" />(C):3<br />
                    <input type="radio" class="fourth"  name="timu3" value="D" onclick="choice('div13')" />(D):4<br />
                </fieldset>
            </form>
            <!--第十四题-->
            <form>
                <fieldset id="fieldset14" class="bbb">
                    <p class="c1">14:</p>
                    <input type="radio" class="first" name="timu3" value="A" onclick="choice('div14')" />(A):1<br />
                    <input type="radio" class="second" name="timu3" value="B" onclick="choice('div14')" />(B):2<br />
                    <input type="radio" class="third" name="timu3" value="C" onclick="choice('div14')" />(C):3<br />
                    <input type="radio" class="fourth"  name="timu3" value="D" onclick="choice('div14')" />(D):4<br />
                </fieldset>
            </form>
            <!--第十五题-->
            <form>
                <fieldset id="fieldset15" class="bbb" >
                    <p class="c1">15:</p>
                    <input type="radio" class="first" name="timu3" value="A" onclick="choice('div15')" />(A):1<br />
                    <input type="radio" class="second" name="timu3" value="B" onclick="choice('div15')" />(B):2<br />
                    <input type="radio" class="third" name="timu3" value="C" onclick="choice('div15')" />(C):3<br />
                    <input type="radio" class="fourth"  name="timu3" value="D" onclick="choice('div15')" />(D):4<br />
                </fieldset>
            </form>
            <!--第十六题-->
            <form>
                <fieldset id="fieldset16" class="bbb">
                    <p class="c1">16:</p>
                    <input type="radio" class="first" name="timu3" value="A" onclick="choice('div16')" />(A):1<br />
                    <input type="radio" class="second" name="timu3" value="B" onclick="choice('div16')" />(B):2<br />
                    <input type="radio" class="third" name="timu3" value="C" onclick="choice('div16')" />(C):3<br />
                    <input type="radio" class="fourth"  name="timu3" value="D" onclick="choice('div16')" />(D):4<br />
                </fieldset>
            </form>
            <!--第十七题-->
            <form>
                <fieldset id="fieldset17" class="bbb">
                    <p class="c1">17:</p>
                    <input type="radio" class="first" name="timu3" value="A" onclick="choice('div17')" />(A):1<br />
                    <input type="radio" class="second" name="timu3" value="B" onclick="choice('div17')" />(B):2<br />
                    <input type="radio" class="third" name="timu3" value="C" onclick="choice('div17')" />(C):3<br />
                    <input type="radio" class="fourth"  name="timu3" value="D" onclick="choice('div17')" />(D):4<br />
                </fieldset>
            </form>
            <!--第十八题-->
            <form>
                <fieldset id="fieldset18" class="bbb">
                    <p class="c1">18:</p>
                    <input type="radio" class="first" name="timu3" value="A" onclick="choice('div18')" />(A):1<br />
                    <input type="radio" class="second" name="timu3" value="B" onclick="choice('div18')" />(B):2<br />
                    <input type="radio" class="third" name="timu3" value="C" onclick="choice('div18')" />(C):3<br />
                    <input type="radio" class="fourth"  name="timu3" value="D" onclick="choice('div18')" />(D):4<br />
                </fieldset>
            </form>
            <!--第十九题-->
            <form>
                <fieldset id="fieldset19" class="bbb">
                    <p class="c1">19:</p>
                    <input type="radio" class="first" name="timu3" value="A" onclick="choice('div19')" />(A):1<br />
                    <input type="radio" class="second" name="timu3" value="B" onclick="choice('div19')" />(B):2<br />
                    <input type="radio" class="third" name="timu3" value="C" onclick="choice('div19')" />(C):3<br />
                    <input type="radio" class="fourth"  name="timu3" value="D" onclick="choice('div19')" />(D):4<br />
                </fieldset>
            </form>
            <!--第二十题-->
            <form>
                <fieldset id="fieldset20" class="bbb">
                    <p class="c1">20:</p>
                    <input type="radio" class="first" name="timu3" value="A" onclick="choice('div20')" />(A):1<br />
                    <input type="radio" class="second" name="timu3" value="B" onclick="choice('div20')" />(B):2<br />
                    <input type="radio" class="third" name="timu3" value="C" onclick="choice('div20')" />(C):3<br />
                    <input type="radio" class="fourth"  name="timu3" value="D" onclick="choice('div20')" />(D):4<br />
                </fieldset>
            </form>
            <p style="padding-bottom: 10px;padding-left: 10px;">二.综合题</p>

            <div class="download"><a href="#" class="btn btn--stripe btn--radius" style="margin-left: 2.5%;">下载21~23操作题</a></div>

            <!--第二十一题-->
            <form>
                <fieldset id="fieldset21" class="bbb">
                    <p class="c1">21:</p>
                    2.在指定文件夹下打开Word文档WDT21.doex文件，其内容如下。 <br>

                    星期，星期一，星期二，星期三，星期四，星期五<br>

                    节，语文，数学，英语，自然，音乐<br>

                    第二节，数学，体育，语文，数学，语文<br>

                    第三节，音乐，语文，健康，手工，数学<br>

                    第四节，体育，音乐，数学，语文，英语<br>

                    按要求完成以下操作。<br>

                    (1)将文档中所提供的文字转换成一个5行6列的表格，并设置文字垂直对齐方式为底端对齐、水平对齐方式为右对齐。<br>

                    (2)在表格的后增加一行，设置不变，其行标题为“午休”，再将“午休”两个字设置成黄色底纹，表格内实单线设置成0.75磅实线，外框实单线设置成1.5磅实线，保存文档WDT21.doex。<br>
                </fieldset>
            </form>
            <!--第二十二题-->
            <form>
                <fieldset id="fieldset22" class="bbb">
                    <p class="c1">22:</p>

                </fieldset>
            </form>
            <!--第二十三题-->
            <form>
                <fieldset id="fieldset23" class="bbb">
                    <p class="c1">23:</p>

                </fieldset>
            </form>

            <label>
            <a class="l btn btn--stripe btn--radius" style="margin-left: 2.5%; margin-top:2.5%;width: 89%;"><input type="file"  name="upload" multiple="multiple" style="display: none;" @change="getExamFile($event)">上传21~23操作题</a></label>
            <button class="l btn btn--stripe btn--radius" style="margin-left: 2.5%; margin-top:2.5%">交卷</button>
        </div>

        <div class="right fl">

            <div class=" btn btn--stripe" >试卷满分&nbsp&nbsp100</div>
            <div class=" btn btn--stripe" >试题数量&nbsp&nbsp23</div>
            <div class=" btn btn--stripe" >答题时限&nbsp&nbsp120min</div>
            <div  class=" o btn btn--stripe "><img id=picture src="../../../assets/time.png" >剩余时间<p>{{timeRemaining}}</p></div>

        </div>

    </div>
    </div>

</template>


<script>
    import headGuide from "../../headGuide";
    import {mumRequest} from "../../../network/request";
    import {praticeRequest} from "../../../network/request";

    export default {
        created(){
            // this.getExam()
        },
      components:{
        headGuide
      },
      data(){
          return{
              timeRemaining: '121',//剩余时间
              examTitle:[],//考试题目
              options:[],
              file:[],
              formData:[],
          }
      },
      methods:{
          //获取题目
          getExam:function(){
             this.checkLogin()
              mumRequest({
                  method:'get',
                  url: '',
              }).then(res =>{
                  if(res.data.status == 310){
                      this.examTitle = res.data.data
                      this.timeCount(this.timeRemaining)
                  }else {
                      this.$message({
                          showClose: true,
                          type: "error",
                          message: res.data.statusInfo,
                          offset: 200
                      })
                  }
              })
          },
          //检测登录状态
          checkLogin:function(){
              mumRequest({
                  method: 'get',
                  url: '/portal/user/user_info'
              }).then(res =>{
                  if(res.data.status == 644){
                      this.refreshToken()
                  }
              }).catch(err =>{
                  this.$message({
                      showClose: true,
                      type: "error",
                      message: err,
                      offset: 200
                  })
              })
          },
          //刷新token
          refreshToken:function(){
              mumRequest({
                  method: 'put',
                  url: '/portal/access_token',
                  data:{
                      refresh_token: this.$store.state.refreshToken
                  }
              }).then(res =>{
                  if(res.data.status == 310){
                      this.$store.commit('set_token',res.data.data.token)
                  }else{
                      this.$message({
                          showClose: true,
                          type: "error",
                          message: res.data.status,
                          offset: 200
                      })
                      this.$router.push('/home/login')
                  }
              }).catch(err =>{
                  this.$message({
                      showClose: true,
                      type: "error",
                      message: err,
                      offset: 200
                  })
              })
          },
          //倒计时
          timeCount:function (n) {
              let _this=this
              if(n == 0){
                  this.$message({
                      type: 'warning',
                      showClose: true,
                      center: true,
                      message: "考试时间结束！",
                      offset:200
                  })
              }else{
                  let count = n-1
                  this.timeRemaining = count
                  setTimeout(function () {
                      _this.timeCount(count)
                  },60000)
              }
          },
          //获取选项
          getOption:function (event) {
            let optionId = event.target.name
              console.log(optionId)
              let option = event.target.value
              console.log(option)
              this.options = {optionId,option}
          },
          //获取上传文件
          getExamFile:function (event) {
              this.file = event.target.files
              //将文件存储到formData
               this.formData = new FormData()
              // 将文件遍历append到formData
              for (let i = 0; i < this.file.length; i++) {
                  this.formData.append('titleId', event.target.name)
                  this.formData.append('files', this.file[i])
              }
          },


      }

  }

</script>


<style scoped>
    .fl{
        float: left;
    }
    .all{
        width:100%;
        margin:7.5%;
        height:auto;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        background-color: pink;
    }
    .right{
        position: fixed;
        left: 87.5%;
    }
    .left{
        width: 80%;
        height:auto;
        background-color:white;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }
    .exam{
        width: 100%;
        height:30px;
        text-align: center;
        font-size: 20px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }
    .c1{
        padding-top: 7px;
        padding-bottom: 7px;
    }
    .c2{
        padding-right: 10px;padding-left: 8px;
    }
    .choose{
        margin-bottom: 10px;
    }
    .download ,.upload,.l{
        text-align: center;
        width: 95%;

        margin-left: 2.5%
    }

    .first,.second,.third,.fourth
    {
        float: left;

    }
    .bbb{
        border-style: dashed;padding-left: 10px;padding-bottom: 10px;margin-left: 10px;margin-right: 10px;margin-bottom: 10px;
    }
    /*文本框美化*/
    input[type="radio"]{width:20px;height:20px;display: inline-block;text-align: center;vertical-align: middle; line-height: 18px;position: relative;border-radius:2px;}
    input[type="radio"]::before{content: "";position: absolute;top: 0;left: 0;background: #fff;width: 87%;height: 90%;border: 1px solid #0f7a74;border-radius:2px;}
    input[type="radio"]:checked::before{content: "\2713";position: absolute;top: 0;left: 0;width:87%;border: 1px solid #0f7a74;color:#0f7a74;font-size: 20px;font-weight: bold;border-radius:2px;}

    /*特效部分*/
    @-webkit-keyframes stripe-slide {
        0% {
            background-position: 0% 0;
        }
        100% {
            background-position: 100% 0;
        }
    }
    @keyframes stripe-slide {
        0% {
            background-position: 0% 0;
        }
        100% {
            background-position: 100% 0;
        }
    }

    .btn {
        overflow: visible;
        margin: 0;
        padding: 0;
        border: 0;
        background: transparent;
        font: inherit;
        line-height: normal;
        cursor: pointer;
        -moz-user-select: text;
        display: block;
        text-decoration: none;
        text-transform: uppercase;
        padding: 16px 36px 22px;
        background-color: #fff;
        color: green;
        border: 2px solid #666;
        border-radius: 6px;
        margin-bottom: 16px;
        transition: all 0.5s ease;
    }
    .btn::-moz-focus-inner {
        padding: 0;
        border: 0;
    }
    .btn--stripe {
        overflow: hidden;
        position: relative;
    }
    .btn--stripe:after {
        content: "";
        display: block;
        height: 7px;
        width: 100%;
        background-image: repeating-linear-gradient(45deg, #666, #666 1px, transparent 2px, transparent 5px);
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        border-top: 1px solid #666;
        position: absolute;
        left: 0;
        bottom: 0;
        background-size: 7px 7px;
    }
    .btn--stripe:hover {
        background-color: #666;
        color: #fff;
        border-color: #000;
    }
    .btn--stripe:hover:after {
        background-image: repeating-linear-gradient(45deg, #fff, #fff 1px, transparent 2px, transparent 5px);
        border-top: 1px solid #000;
        -webkit-animation: stripe-slide 12s infinite linear forwards;
        animation: stripe-slide 12s infinite linear forwards;
    }
    .btn--large {
        width: 50%;
    }
    .btn--radius {
        border-radius: 20px;
    }

    /*特效结束*/

    #picture{
        width: 30px;
        height: 30px;
        margin-right: 5px;
        margin-top: 3px;

    }
    .o{
        padding-left: 25px;
    }


</style>
