<template>
    <div>
        <head-guide></head-guide>
    <!-- 用户信息栏 -->
    <div class="user_info">
        <div class="avatar fl">
            <img v-if="avatarURL" class="img" :src=avatarURL>
            <img v-else class="img" src="../../assets/avatar.png">
        </div>
        <div class="nick fl"><p>{{nickname}}</p></div>
        <div class="level fl"><p class="fl">等级：</p><p class="fl">1</p></div>
        <div class="experience fl"><p class="fl">经验：</p><p class="fl">100</p></div>
        <div class="studyTime fl"><p class="fl">学习时长：</p><p class="fl">30</p><p class="fl">分钟</p></div>
        <div class="titleNum fl"><p class="fl">已做题数：</p><p class="fl">10</p></div>
    </div>
    <!-- 练习模式的入口 -->
    <div class="pattern">
        <div class="personl_study fl">
            <p class="my_title">我的题库</p>
            <p class="title_history">做题记录</p>
            <p class="wrong_title">错题重做</p>
        </div>
        <div class="right_bar fl">
            <div class="ms_title"><span>计算机二级等级考试MS-Office</span></div>
            <div class="select_pattern">
                <router-link class="basic__practice fl" tag="div" to="/study/basisPractice/basisPractice">
                    <div class="basic_logo"><img id="basic_logo1" src="../../assets/basis.png"/></div>
                    <span>基础练习</span>
                </router-link>
                <div  class="level_practice fl" @click="dialogLevelPractice = true">
                    <div class="level_logo"><img id="level_logo1" src="../../assets/level.png"/></div>
                    <span>闯关练习</span>
                </div>
                <div class="exam fl" @click="dialogStarExam = true">
                    <div class="exam_logo"><img id="exam_logo1" src="../../assets/exam.png"/></div>
                    <span>模拟考试</span>
                </div>
            </div>
        </div>
    </div>
<!--   闯关练习弹窗     -->
        <el-dialog title="闯关——请选择练习科目" :visible.sync="dialogLevelPractice" width="36%" center >
            <router-link to="/study/levelPractice/starPractice?name=word" tag="div" class="buttonCenter"><el-button class="setWord" >Word</el-button></router-link>
            <router-link to="/study/levelPractice/starPractice?name=excel" tag="div" class="buttonCenter"><el-button >Excel</el-button></router-link>
            <router-link to="/study/levelPractice/starPractice?name=ppt" tag="div" class="buttonCenter"><el-button >PowerPoint</el-button></router-link>
            <div slot="footer" class="dialog-footer">
                <el-button type="primary" @click="dialogLevelPractice = false">取消</el-button>
            </div>
        </el-dialog>
<!--   模拟考试弹窗     -->
        <el-dialog title="模拟考试" :visible.sync="dialogStarExam" width="36%">
            模拟考时间为120分钟，中途退出将无法保存进度！
             <span slot="footer" class="dialog-footer">
                <el-button @click="dialogStarExam = false" class="outDialogOut">取 消</el-button>
                <router-link to="/study/exam/starExam"><el-button type="primary" @click="dialogStarExam = false">确 定</el-button></router-link>
             </span>
        </el-dialog>



    </div>

</template>


<script>
    import {mumRequest} from "../../network/request";
    import headGuide from "../headGuide";

    export default {
        components:{headGuide},
      created(){
          this.getUserInfo()
      },
      data(){
          return{
              dialogLevelPractice: false,
              dialogStarExam: false,
              avatarURL: '',
              nickname: '',
          }
      },
      methods:{
          getUserInfo: function () {
              mumRequest({
                  method: 'get',
                  url: '/portal/user/user_info'
              }).then(res => {
                  console.log(res)

                  if(res.data.status == 644){
                      mumRequest({
                          method: 'put',
                          url: '/portal/access_token',
                          data:{
                              refresh_token: this.$store.state.refreshToken
                          }
                      }).then(res =>{
                          console.log(res)
                          if(res.data.status == 310){
                              this.$store.commit('set_token',res.data.data.token)
                              this.getUserInfo()
                          }else{
                              this.$message({
                                  showClose: true,
                                  type: "error",
                                  message: res.data.status,
                                  offset: 200
                              })
                              this.$router.push('/home/login')
                          }

                      })
                  }else{
                      this.avatarURL = res.data.data.avatarURL
                      this.nickname = res.data.data.nickname
                      this.school = res.data.data.school
                      this.major = res.data.data.major
                      this.gender = res.data.data.gender
                      this.email = res.data.data.email
                  }
              })

          },
      }

  }

</script>


<style scoped>
    .buttonCenter{
        margin-right: 3%;
        display: inline;
    }
    .outDialogOut{
        margin-right: 3%;
    }
    .setWord{
        margin-left: 22%;
    }
    .user_info{
        margin-top: 90px;
        width: 100%;
        height: 140px;
        background-color: darkslategray;

    }
    .avatar{
        margin-left: 16%;
        width: 80px;
        height: 80px;
        border-radius: 40px;
        background-color: white;
        margin-top: 30px;
        margin-right: 2%;
    }
    .img{
        width: 100%;
        height: 100%;
        border-radius: 50%;
    }
    .nick{
        font-size: 20px;
        line-height: 110px;
        margin-right: 6%;
        color: white;
    }
    .level,.experience,.studyTime,.titleNum{
        font-size: 20px;
        line-height: 110px;
        color: white;
        margin-right: 4%;

    }
    .pattern{
        margin-left: 12%;
        margin-right: 12%;
        margin-top: 30px;
        height: 350px;
        background-color: aliceblue;
        border-radius: 12px;
    }
    .personl_study{
        margin: 40px 3%;
        height: 270px;
        width: 20%;
        border-radius: 12px;
        background-color: white;
    }
    .my_title,.title_history,.wrong_title{
        font-size: 18px;
        margin:46px 26%;
        cursor: pointer;
    }
    .right_bar{
        width: 64%;
        height: 270px;
        margin: 40px 3%;
        border: 0;
    }
    .ms_title{
        width: 94%;
        height: 80px;
        border-radius: 12px;
        background-color: white;
        font-size: 20px;
        line-height: 80px;
        padding-left: 6%;
        margin-bottom: 40px;
    }
    .select_pattern{
        width: 100%;
        height: 190px;
    }
    .basic__practice{
        margin-left: 1%;
    }
    .basic__practice,.level_practice,.exam{
        width: 26%;
        height: 100px;
        margin-right: 6%;
        text-align: center;
        border-style: dashed;
        border-radius: 12px ;
        font-weight: 1000;
        cursor: pointer;

    }
    .basic_logo,.exam_logo,.level_logo{
        margin-left: 30%;
        margin-right: 30%;
        margin-top: 6px;
        margin-bottom: 3px;
        height: 65px;
        cursor: pointer;


    }
    #basic_logo1,#exam_logo1,#level_logo1{
        width: 100%;
        height: 100%;
    }
    .fl{
        float: left;
    }




</style>
