<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <title>beat2beast</title>
  </head>
  <style>
    *{
      margin: 0 0; padding: 0 0;font-family:微软雅黑;font-weight: lighter;
    }
      html,body{
        height: 100%;
        background-color: #7dadaa;

      }
  </style>
  <body>
    <noscript>
      <strong>We're sorry but monster doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
</html>
