<template>
  <div>
    <nav >
      <ul  class="aaa" style="box-shadow: 0 0 6px 5px rgba(0,0,0,.4);">
        <router-link to="/study" tag="li"><a  class="a"><br>学习<br>STUDY</a></router-link>
        <li><el-dropdown placement="top"><a  class="a"><br>更多<br>MORE</a>
        <el-dropdown-menu slot="dropdown">
          <router-link to="/member/suggest" tag="div">
          <el-dropdown-item>反馈与建议</el-dropdown-item>
          </router-link>
        </el-dropdown-menu>
        </el-dropdown></li>
        <router-link to="/home/login" tag="li" v-if="!$store.state.isLogin"><a  class="a"><br>登录<br>LOG IN</a></router-link>
        <router-link to="/member" tag="li" v-else><a  class="a"><br>我的<br>MEMBER</a></router-link>
      </ul>
    </nav>
    <div style="height:70%;" ><img src="../../assets/index.png" style="width:100%; margin-bottom: 10%;"></div>

  </div>

</template>


<script>
  export default {

  }

</script>


<style scoped>
  *{margin: 0;padding: 0;box-sizing: border-box;font-family:微软雅黑;font-weight:lighter;font-size: 20px;}
  .aaa{
    position:fixed;width:100%;background-color: #384150;height:18%;top:78%;bottom:8%;
  }
  body {
    font-family:  sans-serif;

  }


  nav {
    width: 100%;
    padding:0em;
    text-align: center;
  }

  nav ul
  {
    padding: 0;
  }

  nav li
  {
    display: inline-block;
    font-size: 0.90em;
    padding:2.6px 1.8em;
    text-transform: uppercase;
    padding-bottom: 1.9%;
  }

  nav li:not(:last-child)
  {
    border-right: 2px dashed #666;border-right-width: 100%;
    margin-right: 2%;padding-right: 6%; margin-top:0.2%;text-align: center;
  }

  nav a
  {
    border-bottom: 2px solid #666;

    color: #ccc;
    text-decoration: none;
  }

  nav a:hover
  {
    border-bottom: 3px solid pink;
  }
  .a{
    height: 100%;
  }


</style>
