<template>
   <div>
       <div class="rg_layout">
        <div class="rg_left">
            <p class="p-size1">用户登陆</p>
        </div>
        <br>

        <div class="rg_form">
            <!--定义表单-->

            <table>

                <tr>
                    <td class="td-left"><label for="Email"> 邮箱</label></td>
                    <td class="td-right"><input type="Email" name="Email" id="Email" placeholder="请输入您的邮箱" required v-model="email" ></td>
                </tr>
                <tr>
                    <td class="td-left"><label for="password"> 密码</label></td>
                    <td class="td-right"><input type="password" name="password" id="password" placeholder="请输入您的密码" required v-model="password" ></td>
                </tr>

                <tr>

                    <td  ><router-link to="" id="forget"><span @click="dialogChangePassword = true">忘记密码</span></router-link></td>
                    <td > &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<router-link to="/home/register" id ="Registation" >立即注册</router-link></td>



                </tr>
                <tr>
                    <td colspan="2" align="center"><input type="submit" id="Lognin" value="登录" @click="sendLogin" @keyup.enter="sendLogin"></td>
                </tr>
            </table>
        </div>


        <!--   更改密码弹窗   -->
        <el-dialog title="忘记密码" :visible.sync="dialogChangePassword" width="30%" center>
            <el-form>
                <el-form-item label="用户邮箱" :label-width="formLabelWidth">
                    <el-input v-model="email" autocomplete="off" style="width: 60%" type="text" required></el-input>
                </el-form-item>
                <el-form-item label="新密码" :label-width="formLabelWidth">
                    <el-input v-model="newPassword" autocomplete="off" style="width: 60%" type="password" required></el-input>
                </el-form-item>
                <el-form-item label="确认新密码" :label-width="formLabelWidth">
                    <el-input v-model="confirmNewPassword" autocomplete="off" type="password" style="width: 60%" @change="checkeConfirm" required></el-input>
                </el-form-item>
                <el-button @click="getEmailCode" class="getCode">{{btnText}}</el-button>
                <el-form-item label="验证码" :label-width="formLabelWidth">
                    <el-input v-model="code" autocomplete="off" style="width: 60%"></el-input>
                </el-form-item>
            </el-form>
            <div slot="footer" class="dialog-footer">
                <el-button type="primary" @click="changePassword">确 定</el-button>
            </div>
        </el-dialog>
    </div>
   </div>






</template>


<script>

  import headGuide from "../headGuide";
  import {loginRequest} from '../../network/request'

  export default {

    components:{headGuide},

    data() {
      return {
        email: '',
        password: '',
          dialogChangePassword:false,
          btnText: "获取邮箱验证码",
          formLabelWidth: '120px',
          code:'',
          newPassword:'',
          confirmNewPassword:''
      }
    },

    methods:{
        //发送登录请求
        sendLogin:function () {
          loginRequest({
              method: 'post',
              url: '/login',
              data:{
                  email: this.email,
                  password: this.password
              }
          }).then(response =>{
              if (response.data.status==310) {
                  this.$store.commit('set_token',response.data.data.token)
                  this.$store.commit('set_refreshToken',response.data.data.refresh_token)
                  this.$store.commit('set_user',response.data.data.loginName)
                  this.$store.commit('set_login')
                  this.$message({
                      showClose: true,
                      message: '恭喜你，登录成功',
                      type: 'success',
                      center: true,
                      offset: 120,
                      duration: 2000
                  })
                  this.$router.push('/home')
              }else{
                  this.$message({
                      showClose: true,
                      message: response.data.statusInfo,
                      type: 'error',
                      center: true,
                      offset: 120,
                      duration: 2000
                  })
              }
          }).catch(err =>{
              console.log(err)
              this.$message({
                  showClose: true,
                  message: err,
                  type: 'error',
                  center: true,
                  offset: 120
              })
          })


      },
        //忘记密码
        changePassword: function(){
            if (this.confirmNewPassword !== this.newPassword){
                this.$notify.error({
                    title: '错误',
                    message: '密码不一致'
                })
            }else{
                loginRequest({
                method: 'put',
                url: '/portal/password',
                data:{
                    identifier: this.email,
                    code: this.code,
                    password: this.newPassword
                }
            }).then(res =>{
                if(res.data.status == 310){
                    this.$message({
                        showClose: true,
                        type: "success",
                        message: res.data.statusInfo + ",请重新登录",
                        offset:200
                    })
                    this.dialogChangePassword = false
                }else{
                    this.$message({
                        showClose: true,
                        type: "error",
                        message: res.data.statusInfo ,
                        offset:200
                    })
                }
            }).catch(err =>{
                console.log(err)
                this.$message({
                    showClose: true,
                    type: "error",
                    message: err,
                    offset:200
                })
            })
            }

        },
        //获取邮箱验证码请求
        getEmailCode: function () {
            if(this.btnDisabled){
                return;
            }else {
                this.getSecond(60)
                loginRequest({
                    method: 'get',
                    url: "/portal/email_code/"+ this.email
                }).then(res =>{
                    console.log(res)
                    if(res.data.status == 310){
                        this.$message({
                            showClose: true,
                            type: "success",
                            message: res.data.statusInfo,
                            offset:200
                        })
                    }else{
                        this.$message({
                            showClose: true,
                            type: "error",
                            message: res.data.statusInfo,
                            offset:200
                        })
                    }
                }).catch(err =>{
                    this.$message({
                        showClose: true,
                        type: "error",
                        message: err,
                        offset:200
                    })
                })
            }

        },
        //验证码倒计时
        getSecond(wait){
            let _this=this;
            let _wait = wait;
            if(wait == 0) {
                this.btnDisabled=false;
                this.btnText="获取邮箱验证码"
                wait = _wait;
            } else {
                this.btnDisabled=true;
                this.btnText="验证码(" + wait + "s)"
                wait--;
                setTimeout(function() {
                        _this.getSecond(wait);
                    },
                    1000);
            }
        },
        //确认密码
        checkeConfirm:function () {
            if (this.confirmNewPassword !== this.newPassword){
                this.$notify.error({
                    title: '错误',
                    message: '密码不一致'
                })
            }
        },

    },

    }

</script>


<style scoped>
    .getCode{
        margin-left: 22.2%;
        margin-bottom: 20px;
    }
    /*白色框*/
    .rg_layout{
        height: 270px;
        width :40%;
        background-color: white;
        margin: 50px auto;
        padding: 40px 20px 40px 80px;
        justify-content:space-between;
        border-radius: 10px;
        margin-top:230px;
        font-size: 10px;
    }
    /*用户登陆*/
    .p-size1{
        color: #000000;
        font-size: 20px;
        font-weight: 700;
        margin: 15px;

    }
    /*表格*/
    .rg_form{
        margin: 4% 10%;
    }
    /*左侧*/
    .rg_left{
        float:left;
        margin-left: 0%;
        margin-right: 6%;

    }

    /*邮箱密码字样的左侧栏*/
    .td-left{
        width: 0 1%;
        height:40px;
        font-size: 16px;
    }
    /*右侧*/
    .td-right{
        padding-left: 1px;
        margin: 5% 10%;
    }
    /*输入文本框*/
    #password,#Email
    {
        width: 100%;
        height:40px;
        border: 1px solid #d5d5d5;
        border-radius: 10px;
        padding-left: 10px;
        margin:10px 10px 10px 1px;
    }
    /*登录按钮*/
    #Lognin{
        width:200px;
        height:40px;
        border-radius: 10px;
        background-color: #07a3a8;
        border:1px solid #07a3a8;
        font-size: 20px;
        color: white;
        margin:20px;
        float: middle;
    }



    .aa{
        margin: 0 20%;
    }
    #forget,#Registation
    {
        font-size: 14px;
        color:gray;
        cursor: pointer;


    }

    #forget:hover{
        color: red;
    }


    #Registation:hover{
        color: red;
    }


</style>
