<template>
      <div>
          <div class="register">
            <div class="rg_layout">
                <div class="rg_left">
                  <p class="p-size1">用户注册</p>
              </div>
                <br><br><br>

                <div class="rg_form">
                  <!--定义表单-->

                  <form >
                      <table>
                          <tr>
                              <td class="td-left"><span class=important>*</span><label for="Email"> 邮箱</label></td>
                              <td class="td-right"><input type="Email" name="Email" id="Email" placeholder="请输入您的邮箱" required v-model="email" @change="checkeMail"></td>
                          </tr>
                          <tr>
                              <td class="td-left"><span class=important>*</span><label for="password"> 密码</label></td>
                              <td class="td-right"><input type="password" name="password" id="password" placeholder="请输入您的密码" required v-model="password" ></td>
                          </tr>
                          <tr>
                              <td class="td-left"><span class=important>*</span><label for="password"> 确认密码</label></td>
                              <td class="td-right"><input type="password" name="passwordagain" id="passwordagain" placeholder="请再次输入您的密码" required v-model="confirmPassword" @change="checkeConfirm" ></td>
                          </tr>
                          <tr>
                              <td class="td-left"><span class=important>*</span><label for="username"> 昵称</label></td>
                              <td class="td-right"><input type="text" name="username" id="username" placeholder="请输入您的昵称" required v-model="nickname" @change="checkNick" ></td>
                          </tr>
                          <tr>
                              <td class="td-left"><label for="school">学校</label></td>
                              <td class="td-right"><input type="school" name="school" id="school" placeholder="请输入您的学校" v-model="school" ></td>
                          </tr>
                          <tr>
                              <td class="td-left"><label for="major">专业</label></td>
                              <td class="td-right"><input type="major" name="major" id="major" placeholder="请输入您的专业" v-model="major" ></td>
                          </tr>
                          <tr>
                              <td class="td-left"><label for="phonenumber">手机号码</label></td>
                              <td class="td-right"><input type="phonenumber" id="phonenumber"name="phonenumber" placeholder="请输入您的手机号码" v-model="mobile" ></td>
                          </tr>
                          <tr>
                              <td class="td-left"><span class=important>*</span><label > 性别</label></td>
                              <td class="td-right" id="choices">
                                  <input type="radio" name="gender" value="1" @click="selectGener" >  &nbsp男&nbsp &nbsp&nbsp
                                  <input type="radio" name="gender" value="2" @click="selectGener" >  &nbsp女&nbsp &nbsp&nbsp
                                  <input type="radio" name="gender" value="0" @click="selectGener" >  &nbsp保密&nbsp
                              </td>
                          </tr>
                          <tr> 

                                <td ></td>
                                <td > &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<router-link to="/home/login" id ="login" >返回登录</router-link></td>


                          </tr>
                          <td colspan="2" align="center"><input type="submit" id="register" value="注册" @click.prevent="submitRegiser" @keyup.enter="submitRegiser"></td>

                      </table>
                  </form>
              </div>
          </div>
          </div>
      </div>
</template>


<script>
    import headGuide from "../headGuide";
    import {loginRequest} from '../../network/request'
  export default {
      components:{headGuide},
    data(){
      return{
        email: '',
        password: '',
        confirmPassword: '',
        school: '',
        major: '',
        nickname: '',
        mobile: '',
        gender:''
      }
    },
      
      methods:{
        //提交注册
          submitRegiser:function () {
              if(this.confirmPassword != this.password){
                  this.$notify.error({
                      title: '错误',
                      message: '密码不一致'
                  })
              }else {loginRequest({
                  method: 'post',
                  url: '/portal/register',
                  data: {
                      email: this.email,
                      password: this.password,
                      nickname: this.nickname,
                      gender: this.gender,
                      school: this.school,
                      major: this.major
                  }
              }).then(res => {
                  if (res.data.status == 310) {
                      this.$notify({
                          title: '成功',
                          message: '注册成功，请前去注册邮箱中进行激活',
                          type: 'success'
                      })
                      this.$router.push('/home/login')
                  }else if(res.data.status == 623){
                      if(res.data.data.password){
                          this.$notify.error({
                              title: '错误',
                              message: res.data.data.password
                          })
                      }
                      if(res.data.data.gender){
                          this.$notify.error({
                              title: '错误',
                              message: res.data.data.gender
                          })
                      }
                      if(res.data.data.email){
                          this.$notify.error({
                              title: '错误',
                              message: res.data.data.email
                          })
                      }
                      if(res.data.data.nickname){
                          this.$notify.error({
                              title: '错误',
                              message: res.data.data.nickname
                          })
                      }
                  }else {
                      this.$notify.error({
                          title: '错误',
                          message: res.data.data.statusInfo
                      })
                  }
              }).catch(err => {
                  this.$message({
                      type:'error',
                      showClose:true,
                      message:err,
                      offset:200
                  })
              })}
          },
          //确认密码
          checkeConfirm:function () {
              if (this.confirmPassword !== this.password){
                  this.$notify.error({
                      title: '错误',
                      message: '密码不一致'
                  })
              } 
          },
            //检查邮箱是否可用
          checkeMail:function () {
              loginRequest({
                  method: 'get',
                  url: "/portal/email/" + this.email
              }).then(res => {
                  if( res.data.status == 620){
                      this.$notify.error({
                          title: '错误',
                          message: res.data.statusInfo
                      })
                  }
              }).catch(err => {
                  this.$message({
                      type:'error',
                      showClose:true,
                      message:err,
                      offset:200
                  })
              })
          },
          //获取选中的性别
          selectGener:function (event) {
              this.gender = event.target.value
          },
          //检查昵称是否可用
          checkNick:function () {
              loginRequest({
                  method: 'get',
                  url: "/portal/nickname/" + this.nickname
              }).then(res => {
                  if( res.data.status == 620){
                      console.log(res)
                      this.$notify.error({
                          title: '错误',
                          message: res.data.statusInfo
                      })
                  }
              }).catch(err => {
                  this.$message({
                      type:'error',
                      showClose:true,
                      message:err,
                      offset:200
                  })
              })
          }

      }

  }

</script>


<style scoped>
    .rg_layout{
        margin: 0 2%;
        height:700px;
        background-color: white;
        margin: auto;
        padding: 60px 20px 20px 180px;
        border-radius: 10px;
        margin-top: 50px;
        font-size: 18px;
    }
    .p-size1{
        color: #000000;
        font-size: 24px;
        font-weight: 700;
        margin: 28px;
        align-content:center;
    }

    .rg_left{
        float:left;


    }

    /*邮箱等字样的左侧栏*/
    .td-left{
        width: 0 2%;
        height:45px;
        text-align: right;
        font-size: 16px;
    }
    /*右侧输入框*/
    .td-right{
        padding-left: 5px;
        margin: 5% 10%;
    }
    /*输入文本框*/
    #username,#password,#Email,#passwordagain,#major,#school,#phonenumber
    {
        width: 350px;
        height:40px;
        border: 1px solid #d5d5d5;
        border-radius: 10px;
        padding-left: 10px;
        margin:10px 10px 10px 10px;
    }
    /*注册按钮*/
    #register{
        width:200px;
        height:50px;
        border-radius: 10px;
        background-color: #07a3a8;
        border:1px solid #07a3a8;
        font-size: 20px;
        color: white;
        margin:2px;
        text-align: center;
    }
    /*复选框*/
    #choices{
        padding-left: 20px;
        font-size: 16px;
    }
    /*必填*/
    .important{
        color: red;
    }
    .register{
        margin: 90px 20%;
    }
    #login
    {
        font-size: 14px;
        color:gray;
        cursor: pointer;


    }


</style>
