<template>
    <div>
        <p>网站备案号：粤ICP备19124093号-1</p>
    </div>
    
</template>

<script>
    export default {
        name: "footer"
    }
</script>

<style scoped>
    div{
        margin: 0 auto;
        width: 70%;
        height: 50px;
        line-height: 50px;
        text-align: center;
    }
</style>