<template>
    <div class = "head_bar">
        <div class="head_logo fl"><img id=logo src="../assets/logo3.png"></div>
        <div class="head_index fl"><router-link to="/home" tag="div"><span>首页</span></router-link></div>
        <div class="head_study fl"><router-link to="/study" tag="div"><span>学习</span></router-link></div>
        <div class="head_more fl">
            <el-dropdown class="more">
                <span>更多</span>
                <el-dropdown-menu slot="dropdown">
                    <router-link to="/member/suggest" tag="div">
                        <el-dropdown-item>反馈与建议</el-dropdown-item>
                    </router-link>
                </el-dropdown-menu>
            </el-dropdown>
        </div>

        <div class="head_login fr">
            <router-link v-if="!$store.state.isLogin" to="/home/login" tag="div"><span>登录</span>
            </router-link>
            <router-link v-else to="/member" tag="div"><span>我的</span>
            </router-link>
        </div>




    </div>





</template>

<script>


 export default {

    data(){
        return{


        }

    },



   methods:{


   }

 }

</script>


<style scoped>

    .head_bar{
        position: fixed;
        top: 0;
        background-color: white ;
        width: 100%;
        margin: 0 0;
        height: 60px;
        background: rgba(255,255,255,0.66);
        z-index: 100;
    }
    .head_logo{
        width: 48px;
        height: 48px;
        margin: 0 4%;
        margin-top: 6px;

    }
    .fl{
        float: left;
    }
    .fr{
        float: right;
    }
    #logo{
        with:100%;
        height: 100%;
    }


    .head_login{
        font-size: 18px;
        font-weight: 400;
    }
    .head_index{
        padding-right: 3%;
        font-size: 18px;
        line-height: 60px;
        margin-left: 8%;
        cursor: pointer;



    }
    .head_study{
        padding: 0 3%;
        font-size: 18px;
        line-height: 60px;
        cursor: pointer;




    }
    .head_more{
        padding-left: 3%;
        line-height: 60px;
        cursor: pointer;
        font-size: 18px;


    }
    .head_login{
        margin-right: 4%;
        line-height: 60px;
        cursor: pointer;
        font-size: 18px
    ;
    }
    .more{
        font-size: 18px;
        color: black;
        cursor: pointer;
    }



</style>
