<template>
  <div>
      <head-guide></head-guide>
      <div class="all">
          <div class="message_bar">
              <div class="user_info fl">
                  <div class="avatar">
                      <label>
                          <input type="file" name="uploadAvatar" style="display: none;" accept="image/jpeg image/x-png " @change="uploadAvatar($event)"/>
                          <img v-if="avatarURL" class="img avatar_img"  :src="avatarURL" />
                          <img v-else class="img avatar_img"  src="../../assets/avatar.png" />
                      </label>
                  </div>
                  <div class="userName"><span>{{nickname}}</span></div>
                  <div class="commonInfo"><span>学校：</span><span>{{school}}</span></div>
                  <div class="commonInfo"><span>专业：</span><span>{{major}}</span></div>
                  <div class="commonInfo"><span>性别：</span><span>{{gender}}</span></div>
              </div>
              <div class="study_info fl">
                  <div class="study_up">
                      <div class="study_icon fl"><div class="studyTime_siza"><img class="img" src="../../assets/studyTime.png"></div><span>学习时长</span></div>
                      <div class="studyNum fl"><span>100min</span></div>
                      <div class="study_icon fl"><div class="studyTime_siza"><img class="img" src="../../assets/ex.png"></div><span>经验值</span></div>
                      <div class="studyNum fl"><span>300</span></div>
                  </div>
                  <div class="study_down">
                      <div class="study_icon fl"><div class="studyTime_siza"><img class="img" src="../../assets/titleNumber.png"></div><span>刷题数目</span></div>
                      <div class="studyNum fl"><span>30</span></div>
                      <div class="study_icon fl"><div class="studyTime_siza"><img class="img" src="../../assets/studyLoading.png"></div><span>学习进度</span></div>
                      <div class="studyNum fl"><span>300</span></div>
                  </div>
              </div>
          </div>
          <div class="change_bar">
                      <button class="btn btn--stripe" @click="dialogChangeInfo = true">修改个人信息</button>
                      <button class="btn btn--stripe" @click="dialogChangePassword = true">更改密码</button>
                      <button class="btn btn--stripe">课程购买</button>
                      <button class="btn btn--stripe" @click="loginOut">退出登录</button>
          </div>
      </div>
<!--  修改个人信息弹窗    -->
      <el-dialog title="修改个人信息" :visible.sync="dialogChangeInfo" width="30%">
          <el-form>
              <el-form-item label="昵称" :label-width="formLabelWidth">
                  <el-input v-model="formNickname" autocomplete="off" style="width: 60%" @change="checkNick"></el-input>
              </el-form-item>
              <el-form-item label="学校" :label-width="formLabelWidth">
                  <el-input v-model="formSchool" autocomplete="off" style="width: 60%"></el-input>
              </el-form-item>
              <el-form-item label="专业" :label-width="formLabelWidth">
                  <el-input v-model="formMajor" autocomplete="off" style="width: 60%"></el-input>
              </el-form-item>
              <el-form-item label="性别" :label-width="formLabelWidth">
                  <el-radio-group v-model="formGender" >
                      <el-radio :label="1" >男</el-radio>
                      <el-radio :label="2" >女</el-radio>
                      <el-radio :label="0" >保密</el-radio>
                  </el-radio-group>
              </el-form-item>
          </el-form>
          <div slot="footer" class="dialog-footer">
              <el-button type="primary" @click="submitChangeInfo">确 定</el-button>
          </div>
      </el-dialog>
<!--   更改密码弹窗   -->
      <el-dialog title="修改密码" :visible.sync="dialogChangePassword" width="30%" center>
          <el-form>
              <el-form-item label="新密码" :label-width="formLabelWidth">
                  <el-input v-model="newPassword" autocomplete="off" style="width: 60%" type="password" required></el-input>
              </el-form-item>
              <el-form-item label="确认新密码" :label-width="formLabelWidth">
                  <el-input v-model="confirmNewPassword" autocomplete="off" type="password" style="width: 60%" @change="checkeConfirm" required></el-input>
              </el-form-item>
              <el-button @click="getEmailCode" class="getCode">{{btnText}}</el-button>
              <el-form-item label="验证码" :label-width="formLabelWidth">
                  <el-input v-model="code" autocomplete="off" style="width: 60%"></el-input>
              </el-form-item>
          </el-form>
          <div slot="footer" class="dialog-footer">
              <el-button type="primary" @click="changePassword">确 定</el-button>
          </div>
      </el-dialog>


  </div>


</template>


<script>
    import headGuide from "../headGuide";
    import {praticeRequest} from '../../network/request'
    import {mumRequest} from '../../network/request'

  export default {
    components:{headGuide},
      data(){
          return{
              avatarURL: '',
              img: [],
              school:'',
              major: '',
              gender: '',
              email: '',
              nickname: '',
              dialogChangeInfo: false,
              dialogChangePassword: false,
              formLabelWidth: '120px',
              formNickname: '',
              formSchool: '',
              formMajor: '',
              formGender: '',
              dialogLoginOut: false,
              newPassword: '',
              confirmNewPassword: '',
              code: '',
              btnDisabled:false,
              btnText:'获取邮箱验证码'




          }
      },

      created(){
          this.getUserInfo()

      },

      methods: {
          //发起网络请求个人数据
          getUserInfo: function () {
              mumRequest({
                  method: 'get',
                  url: '/portal/user/user_info'
                  }).then(res => {
                  if(res.data.status == 644){
                      mumRequest({
                          method: 'put',
                          url: '/portal/access_token',
                          data:{
                              refresh_token: this.$store.state.refreshToken
                          }
                      }).then(res =>{
                          console.log(res)
                          if(res.data.status == 310){
                              this.$store.commit('set_token',res.data.data.token)
                              this.getUserInfo()
                          }else{
                              this.$message({
                                  showClose: true,
                                  type: "error",
                                  message: res.data.status,
                                  offset: 200
                              })
                              this.$router.push('/home/login')
                          }

                      })
                  }else{
                      this.avatarURL = res.data.data.avatarURL
                      this.nickname = res.data.data.nickname
                      this.school = res.data.data.school
                      this.major = res.data.data.major
                      this.gender = res.data.data.gender
                      this.email = res.data.data.email
                  }
              })

          },
          //上传个人头像
          uploadAvatar: function (event) {
              this.img = event.target.files[0]
              let formData = new FormData()
              formData.append('avatar_file',this.img)
              console.log(this.img)
              console.log(formData.get('avatar_file'))
              praticeRequest({
                  method: 'post',
                  url: '/portal/user/avatar',
                  data: formData
              }).then(res =>{
                  console.log(res)
                  if (res.data.status == 310){
                      this.avatarURL = res.data.data.avatarURL
                      console.log(res)
                      this.$message({
                          showClose: true,
                          type: "success",
                          message: res.data.statusInfo,
                          offset: 200
                      })

                  }

              }).catch(err =>{
                  console.log(err)
              })
          },
          //提交修改个人信息
          submitChangeInfo:function () {
              mumRequest({
                  method: 'get',
                  url: '/portal/user/user_info'
              }).then(res => {
                  if( res.data.status == 310){
                      mumRequest({
                          method: 'put',
                          url: '/portal/user/user_info',
                          data: {
                              nickname: this.formNickname,
                              school: this.formSchool,
                              major: this.formMajor,
                              gender: this.formGender
                          }
                      }).then(res => {
                          if(res.data.status == 310){
                              this.dialogChangeInfo = false
                              this.getUserInfo()
                              this.$message({
                                  showClose: true,
                                  type: "success",
                                  message: res.data.statusInfo,
                                  offset: 200
                              })
                          }
                      }).catch(err =>{
                          this.$message({
                              showClose: true,
                              type: "error",
                              message: err,
                              offset: 200
                          })
                      })
                  }else if( res.data.status == 644){
                      mumRequest({
                          method: 'put',
                          url: '/portal/access_token',
                          data:{
                              refresh_token: this.$store.state.refreshToken
                          }
                      }).then(res => {
                          if(res.data.status == 310){
                              this.$store.commit('set_token',res.data.data.token)
                              mumRequest({
                                  method: 'put',
                                  url: '/portal/user/user_info',
                                  data: {
                                      nickname: this.formNickname,
                                      school: this.formSchool,
                                      major: this.formMajor,
                                      gender: this.formGender
                                  }
                              }).then(res => {
                                  if(res.data.status == 310){
                                      this.dialogChangeInfo = false
                                      this.getUserInfo()
                                      this.$message({
                                          showClose: true,
                                          type: "success",
                                          message: res.data.statusInfo,
                                          offset: 200
                                      })
                                  }
                              }).catch(err =>{
                                  this.$message({
                                      showClose: true,
                                      type: "error",
                                      message: err,
                                      offset: 200
                                  })
                              })
                          }else{
                              this.$message({
                                  showClose: true,
                                  type: "error",
                                  message: res.data.status,
                                  offset: 200
                              })
                              this.$router.push('/home/login')
                          }
                      })
                  }

              }).catch(err => {
                  this.$message({
                      showClose: true,
                      type: "error",
                      message: err,
                      offset: 200
                  })
              })
          },
          //退出登录
          loginOut:function(){
              this.$store.commit('exit_login')
              this.$message({
                  showClose: true,
                  type: "success",
                  message: "退出成功",
                  offset: 200
              })
              this.$router.push('/')
          },
          //检查昵称是否可用
          checkNick:function () {
              mumRequest({
                  method: 'get',
                  url: "/portal/nickname/" + this.formNickname
              }).then(res => {
                  if( res.data.status == 620){
                      this.$notify.error({
                          title: '错误',
                          message: res.data.statusInfo
                      })
                  }

              }).catch(err => {
                  this.$message({
                      showClose: true,
                      type: "error",
                      message: err,
                      offset: 200
                  })
              })
          },
          //修改密码
          changePassword: function(){
            mumRequest({
                method: 'put',
                url: '/portal/password',
                data:{
                    identifier: this.email,
                    code: this.code,
                    password: this.newPassword
                }
            }).then(res =>{
                if(res.data.status == 310){
                    this.$message({
                        showClose: true,
                        type: "success",
                        message: res.data.statusInfo + ",请重新登录",
                        offset:200
                    })
                    this.loginOut()
                }else{
                    this.$message({
                        showClose: true,
                        type: "error",
                        message: res.data.statusInfo ,
                        offset:200
                    })
                }
            }).catch(err =>{
                this.$message({
                    showClose: true,
                    type: "error",
                    message: err,
                    offset:200
                })
            })
          },
          //获取邮箱验证码
          getEmailCode: function () {
              if(this.btnDisabled){
                  return;
              }else {
                  this.getSecond(60)
                  mumRequest({
                      method: 'get',
                      url: "/portal/email_code/"+ this.email
                  }).then(res =>{
                      console.log(res)
                      if(res.data.status == 310){
                          this.$message({
                              showClose: true,
                              type: "success",
                              message: res.data.statusInfo,
                              offset:200
                          })
                      }else{
                          this.$message({
                              showClose: true,
                              type: "error",
                              message: res.data.statusInfo,
                              offset:200
                          })
                      }
                  }).catch(err =>{
                      this.$message({
                          showClose: true,
                          type: "error",
                          message: err,
                          offset:200
                      })
                  })
              }

          },
          //验证码倒计时
          getSecond(wait){
              let _this=this;
              let _wait = wait;
              if(wait == 0) {
                  this.btnDisabled=false;
                  this.btnText="获取邮箱验证码"
                  wait = _wait;
              } else {
                  this.btnDisabled=true;
                  this.btnText="验证码(" + wait + "s)"
                  wait--;
                  setTimeout(function() {
                          _this.getSecond(wait);
                      },
                      1000);
              }
          },
          //确认密码
          checkeConfirm:function () {
              if (this.confirmNewPassword !== this.newPassword){
                  this.$notify.error({
                      title: '错误',
                      message: '密码不一致'
                  })
              }
          },






      }

  }

</script>


<style scoped>

    .fl{
        float: left;
    }
    .fr{
        float: right;
    }
    .all{
        margin-top: 90px;
        margin-left: 20%;
        margin-right: 20%;
        width: 60%;
        height: 700px;
    }
    .message_bar{
        width: 100%;
        height: 300px;
    }
    .user_info{
        width: 40%;
        height: 300px;
        background-color: #06525a ;
    }
    .study_info{
        width: 50%;
        height: 300px;
    }
    .avatar{
        margin-top: 12px;
        margin-left: 40%;
        width: 80px;
        height: 80px;
        margin-bottom: 8px;
        border-radius: 39px;
        background-color: white;
        border-style: hidden;
        cursor: pointer;
    }
    .img{
        width: 100%;
        height: 100%;
    }
    .avatar_img{
        border-radius: 40px;
        cursor: pointer;
    }
    .userName{
        text-align: center;
        color: white;
        margin-bottom: 25px;
    }
    .commonInfo{
        margin-left: 10%;
        color: white;
        font-size: 16px;
        height: 30px;
        line-height: 30px;
        margin-bottom: 20px;
    }
    .study_up{
        width: 100%;
        height: 150px;
        background-color: #6795a4;
    }
    .study_down{
        width: 100%;
        height: 150px;
        background-color: #ccdada;
    }

    .study_icon{
        width: 20%;
        height: 120px;
        margin-top: 15px ;
        margin-bottom: 15px;
        margin-left: 2%;
        margin-right: 4%;
        color: white;
        text-align: center;

    }
    .studyTime_siza{
        width: 50px;
        height: 50px;
        margin-left: 26%;
        margin-top: 15px;
        margin-bottom: 15px;
    }
    .studyNum{
        width: 20%;
        line-height: 120px;
        font-size: 20px;
        font-weight: 800;
        color: white;
    }
    .change_bar{
        margin-top: 30px;
        width: 90%;
    }

    /*特效部分*/
    @-webkit-keyframes stripe-slide {
        0% {
            background-position: 0% 0;
        }
        100% {
            background-position: 100% 0;
        }
    }
    @keyframes stripe-slide {
        0% {
            background-position: 0% 0;
        }
        100% {
            background-position: 100% 0;
        }
    }

    .btn {
        overflow: visible;
        margin: 0;
        padding: 0;
        border: 0;
        background: transparent;
        font: inherit;
        line-height: normal;
        cursor: pointer;
        -moz-user-select: text;
        display: block;
        text-decoration: none;
        text-transform: uppercase;
        padding: 16px 36px 22px;
        background-color: #fff;
        color: green;
        border: 2px solid #666;
        border-radius: 6px;
        margin-bottom: 16px;
        transition: all 0.5s ease;
        width: 100%;
    }
    .btn::-moz-focus-inner {
        padding: 0;
        border: 0;
    }
    .btn--stripe {
        overflow: hidden;
        position: relative;
    }
    .btn--stripe:after {
        content: "";
        display: block;
        height: 7px;
        width: 100%;
        background-image: repeating-linear-gradient(45deg, #666, #666 1px, transparent 2px, transparent 5px);
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        border-top: 1px solid #666;
        position: absolute;
        left: 0;
        bottom: 0;
        background-size: 7px 7px;
    }
    .btn--stripe:hover {
        background-color: #666;
        color: #fff;
        border-color: #000;
    }
    .btn--stripe:hover:after {
        background-image: repeating-linear-gradient(45deg, #fff, #fff 1px, transparent 2px, transparent 5px);
        border-top: 1px solid #000;
        -webkit-animation: stripe-slide 12s infinite linear forwards;
        animation: stripe-slide 12s infinite linear forwards;
    }
    .btn--large {
        width: 100%;
    }
    .btn--radius {
        border-radius: 20px;
    }
    /*特效结束*/
    .getCode{
        margin-left: 22.2%;
        margin-bottom: 20px;
    }




</style>
