<template>
    <div>
        <head-guide></head-guide>
        <div class="tableAll" >
        <table>
            <thead>
            <tr>
                <th>序号</th>
                <th>反馈时间</th>
                <th>处理时间</th>
                <th>反馈类型</th>
                <th>反馈状态</th>
                <th>操作</th>
            </tr>
            </thead>
            <tr v-for="item in resultList" :key="item.index">
                <td>{{item.id}}</td>
                <td>{{item.createTime}}</td>
                <td>{{item.updataTime}}</td>
                <td>{{item.complaintType}}</td>
                <td>{{item.processStatus}}</td>
                <td><a @click.prevent="getComplaintInfo(item.id)">查看</a></td>
            </tr>

        </table>

        <el-dialog title="反馈内容" :visible.sync="dialogResult" center width="80%">
            <el-table :data="complaintInfo" style="width: 100%; text-align: center; ">
                <el-table-column prop="id" label="序号" width="150"></el-table-column>
                <el-table-column prop="replierId" label="处理员工号" width="180"></el-table-column>
                <el-table-column prop="replierName" label="处理员姓名" width="180"></el-table-column>
                <el-table-column prop="complaintContent" label="反馈内容" width="300" style="overflow: scroll"></el-table-column>
                <el-table-column prop="replyContent" label="回复内容" width="300" style="overflow: scroll"></el-table-column>
            </el-table>
        </el-dialog>

    </div>
    </div>
</template>


<script>
    import {mumRequest} from "../../network/request";
    import headGuide from "../headGuide";
    export default {
        components:{headGuide},
        created(){
          this.getResult()
        },
    data(){
      return{
          pageId: 1,
          resultList:[],
          dialogResult: false,
          complaintInfo:[{
              id:'',
              replierId:'',
              replierName:'',
              complaintContent:'',
              replyContent:''
          }]



      }
    },
    methods:{
        getResult:function () {
            console.log("diaoyong l ")
            mumRequest({
                method:'get',
                url: "/portal/user/complaint/complaintInfos?limit=10&page="+ this.pageId
            }).then(res =>{
                console.log(res)
                if(res.data.status === 310){
                    this.resultList = res.data.data.list
                    console.log(this.resultList)
                }
            })
        },
        getComplaintInfo:function (id) {
            console.log(id)
            mumRequest({
                method: 'get',
                url:"/portal/user/complaint/complaintInfo?id="+ id
            }).then(res =>{
                console.log(res)
                if(res.data.status == 310){
                    this.dialogResult = true
                    this.complaintInfo[0].id = res.data.data.id
                    this.complaintInfo[0].replierId = res.data.data.replierId
                    this.complaintInfo[0].replierName = res.data.data.replierName
                    this.complaintInfo[0].complaintContent = res.data.data.complaintContent
                    this.complaintInfo[0].replyContent = res.data.data.replyContent

                    console.log(this.complaintInfo)
                }
            })

        }
    }

  }

</script>


<style scoped>
    .tableAll{
        margin-top: 90px;
        margin-left: 5%;
        margin-right: 5%;
        height:500px;
    }
    table{
        background-color: white;
        table-layout: fixed;
        width: 100%;
        max-height: 500px;
        box-shadow: 0 0 4px 2px rgba(0,0,0,.4);
        border-collapse: collapse;
        border: 1px solid rgba(0,0,0,.5);
        border-top: 0 none;

    }
    thead{
        background: #158893;
        font-weight: lighter;
        text-align: center;
        z-index: 2;
    }
    thead tr {
        box-shadow: 0 4px 6px rgba(0,0,0,.6);
        z-index: 2;
    }
    th {
        border-right: 2px solid rgba(0,0,0,.2);
        line-height: 50px;
        font-size: 20px;
        color: white;
    }
    thead~tr{

    }

    td{
        line-height: 40px;
        font-size: 16px;
        font-weight: lighter;
        text-align: center;
        border-right: 2px solid rgba(0,0,0,.2);
        overflow: hidden;
    }
    th:last-child, td:last-child {
        text-align: center;
        border-right: 0 none;
        padding-left: 0;
    }
    thead~tr:hover{
        background-color: #e0f2f5;
    }
    a{
        text-decoration-line: underline;
    }
    a:hover{
        color: red;
        cursor: pointer;
    }






</style>
