<template>
  <div>
    <head-guide></head-guide>
    <div class="all" >
    <div class="left" >
      <div class="LL" ><img id=picture src="../../assets/suggest.png" ><span style="line-height: 1px;">个人建议与反馈</span></div>
      <div class="advice1" >反馈类型：</div>
      <div class="advice3">问题描述：</div>
      <div><router-link to="/member/result"><span  class=" btn btn--stripe btn--radius" href="#" target="_blank" style="margin-left: 37%;margin-top:52.5%;width: 45%">查看历史反馈记录</span></router-link></div>
    </div>
    <div class="right">
      <div class="question">
        <form >
          <div>
            <input  @click="getComplaintType" type="radio" name="vehicle" value="0" class="question1" /><span style=" padding-right: 20px;padding-left: 6px;">功能建议</span>
            <input @click="getComplaintType" type="radio" name="vehicle" value="1"  class="question2"/><span style="padding-right: 20px;padding-left: 6px;">性能问题</span>
            <input @click="getComplaintType" type="radio" name="vehicle" value="2"  class="question3"/><span style="padding-right: 20px;padding-left: 6px;">BUG反馈</span>
            <input @click="getComplaintType" type="radio" name="vehicle" value="3" class="question4"/><span style="padding-right: 20px;padding-left: 6px;">其他</span>
          </div>
        </form>
        <textarea v-model="complaintContent" cols="110" rows="8" class="feedback-content" placeholder="您可以输入任何问题或建议，我们收到后会及时更进，谢谢您的支持！(内容长度10~150字符)"  style="padding: 5px 5px"></textarea>
      </div>
      <div class="b1"><button  class="btn btn--stripe  fr" style="text-align: center;margin-top:-2%;margin-right:4%;width: 30%" @click.prevent="submitSuggest">提交</button></div>
    </div>
    </div>
  </div>

  

</template>


<script>
  import headGuide from "../headGuide";
  import {mumRequest} from "../../network/request";

  export default {
    components:{headGuide},
    data(){
      return{
        complaintType: '',
        complaintContent: ''

      }
    },
    methods:{
      //获取单选框的值
      getComplaintType:function (event) {
        this.complaintType = event.target.value
        console.log(this.complaintType)
      },
      //上传
      submitSuggest:function () {
        mumRequest({
          method: 'post',
          url: '/portal/user/complaint/complaintInfo',
          headers: {
            'authorization': window.sessionStorage.getItem("token")
          },
          data:{
            complaintType: this.complaintType,
            complaintContent: this.complaintContent
          }
        }).then(res =>{
          console.log(res)
          if(res.data.status == 310){
            this.$message({
              showClose: true,
              type: "success",
              message: "反馈成功，我们会尽快为您处理！",
              offset: 200
            })
            this.$router.push('/member')
          }else if(res.data.status == 644){
            this.$message({
              showClose: true,
              type: "error",
              message: "会话已过期，请重新登录",
              offset: 200
            })
            this.$router.push('/home/login')
          }
        }).catch(err =>{
          this.$message({
            showClose: true,
            type: "error",
            message: err,
            offset: 200
          })
        })
      }
    }

  }

</script>


<style scoped>
  .all{
    width: 100%;margin-top: 180px;
    font-family:mWawati SC;
  }

  .left{
    float: left;
    width: 20%;
    height:500px;
    margin-left:15%;

    text-align: center;
    background-color: white;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }
 
  .right{
    width: 50%; height:500px;
    float: left;
    border-top-right-radius: 5px;border-bottom-right-radius: 5px;
  }
  /*头部导航*/


  .fr{
    float: right;
  }




  #picture{
    width: 30px;
    height: 30px;margin-left:30%;margin-bottom: 5px;
    margin-right: 10px;
    margin-top: 11%;
    margin-bottom: 0px;

  }
  .advice1{
    margin-top:39px;
    margin-bottom: 32px;
    width:73%;
    padding-left: 27%;

  }
  /*问题反馈*/
  .advice3{
    margin-top: 35px;margin-bottom: 115px; padding-left:27%;
  }


  .question{
    margin-top: 113px;
    margin-left: -5%;
  }


  .feedback-content{
    margin-top: 35px;content: "\2713";top: 0;left: 0;width:92%;border: 1px solid #0f7a74;color:#0f7a74;border-radius:5px;

  }

  .b1{
    padding-top:64px;
    margin-right: 2%;
  }
  /*文本框美化*/
  input[type="radio"]{width:20px;height:20px;display: inline-block;text-align: center;vertical-align: middle; line-height: 18px;position: relative;border-radius:2px;}
  input[type="radio"]::before{content: "";position: absolute;top: 0;left: 0;background: #fff;width: 100%;height: 90%;border: 1px solid #0f7a74;border-radius:2px;}
  input[type="radio"]:checked::before{content: "\2713";position: absolute;top: 0;left: 0;width:90%;border: 1px solid #0f7a74;color:#0f7a74;font-size: 20px;font-weight: bold;border-radius:2px;}

  /*特效部分*/
  @-webkit-keyframes stripe-slide {
    0% {
      background-position: 0% 0;
    }
    100% {
      background-position: 100% 0;
    }
  }
  @keyframes stripe-slide {
    0% {
      background-position: 0% 0;
    }
    100% {
      background-position: 100% 0;
    }
  }

  .btn {
    overflow: visible;
    margin: 0;
    padding: 0;
    border: 0;
    background: transparent;
    font: inherit;
    line-height: normal;
    cursor: pointer;
    -moz-user-select: text;
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    padding: 16px 36px 22px;
    background-color: #fff;
    color: green;
    border: 2px solid #666;
    border-radius: 6px;
    margin-bottom: 16px;
    transition: all 0.5s ease;
  }
  .btn::-moz-focus-inner {
    padding: 0;
    border: 0;
  }
  .btn--stripe {
    overflow: hidden;
    position: relative;
  }
  .btn--stripe:after {
    content: "";
    display: block;
    height: 7px;
    width: 100%;
    background-image: repeating-linear-gradient(45deg, #666, #666 1px, transparent 2px, transparent 5px);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-top: 1px solid #666;
    position: absolute;
    left: 0;
    bottom: 0;
    background-size: 7px 7px;
  }
  .btn--stripe:hover {
    background-color: #666;
    color: #fff;
    border-color: #000;
  }
  .btn--stripe:hover:after {
    background-image: repeating-linear-gradient(45deg, #fff, #fff 1px, transparent 2px, transparent 5px);
    border-top: 1px solid #000;
    -webkit-animation: stripe-slide 12s infinite linear forwards;
    animation: stripe-slide 12s infinite linear forwards;
  }

  .btn--radius {
    border-radius: 10px;
  }
  /*特效结束*/

  .right{
    background-color: white;
  }


</style>
