<template>
  <div class="outheight">


    <!--放置路由组件-->
    <div class="ele">
    <router-view></router-view>
    </div>
    <div class="eleb">
    <foot></foot>
    </div>

  </div>
</template>

<script>

  import foot from "./components/foot";
  export default {
    components: {foot}
  }
</script>

<style scoped>
  .outheight{
    height: 100%;
  }
  .ele{
    min-height: 100%;
    padding-bottom: 50px;
  }
  .eleb{
  margin-top: -50px;
  }



</style>
